<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="container">
        <div class="col-sm-12 col-md-6 col-lg-6 descripcionjuego">
            <h2>Juego</h2>
            <p>Lorem ipsum dolor, sit amet consectetur 
                adipisicing elit. Veritatis labore aut 
                ut cumque debitis quasi, veniam earum 
                sed rerum aliquid libero molestias 
                laudantium eveniet accusamus odio atque 
                dignissimos quis sapiente!</p>
        </div>
        <div class="col-sm-12 col-md-5 col-lg-5 offset-md-1 offset-lg-1 imagenjuego">
            <img src="../../../assets/cienArgentinos.png" class="img-fluid cienArgentinos">
        </div>
    </div>
</div>