<div class="general">
    <div class="row">
        <h1>Hard Skills</h1>
        <circle-progress
            [title]="'HTML'"
            [percent]="85"
            [outerStrokeColor]= "'#2E64AD'"
            [innerStrokeColor]= "'#1C3F6D'"
        ></circle-progress>
        <circle-progress
            [title]="'CSS'"
            [percent]="80"
            [outerStrokeColor]= "'#2E64AD'"
            [innerStrokeColor]= "'#1C3F6D'"
        ></circle-progress>
        <circle-progress
            [title]="'JS'"
            [percent]="55"
            [outerStrokeColor]= "'#2E64AD'"
            [innerStrokeColor]= "'#1C3F6D'"
        ></circle-progress>
    </div>  
    <div class="row">
        <h1>Soft Skills</h1>
        <circle-progress
            [title]="'Proactivity'"
            [percent]="95"
            [outerStrokeColor]= "'#A157AD'"
            [innerStrokeColor]= "'#7F278D'"
        ></circle-progress>
        <circle-progress
            [title]="'Comunication'"
            [percent]="100"
            [outerStrokeColor]= "'#A157AD'"
            [innerStrokeColor]= "'#7F278D'"
        ></circle-progress>
        <circle-progress
            [title]="'Team Work'"
            [percent]="100"
            [outerStrokeColor]= "'#A157AD'"
            [innerStrokeColor]= "'#7F278D'"
        ></circle-progress>
    </div>
</div>