<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <img src="../../../assets/imagen.png" class="img-fluid" id="foto">
    </div>
    <div class="col-xs-12  col-sm-6 col-md-3 col-lg-3 presentacion">
        <p id="nombre">Galarza Victoria</p>
        <p>Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12  col-sm-12 col-md-5 col-lg-6 acerca">
        <span>
            <h1>About me</h1>
            <p>Lorem ipsum dolor sit amet consectetur,
            adipisicing elit. Eveniet totam nam debitis
            laudantium incidunt quam atque minima 
            nostrum aliquam consectetur at dignissimos,
            laboriosam voluptates distinctio exercitationem
            ab tempora quaerat hic.</p>
        </span>
    </div>
</div>