<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h2> Educacion</h2> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet 
                consectetur adipisicing elit. 
                Molestiae quidem consequuntur 
                quaerat veniam eaque velit 
                voluptatibus odit libero ea! 
                Saepe libero omnis consectetur! 
                Aliquid distinctio quis ipsam 
                nesciunt iure harum!</p>
        </ul>
        <ul>
            <li><h2> Educacion</h2> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet 
                consectetur adipisicing elit. 
                Molestiae quidem consequuntur 
                quaerat veniam eaque velit 
                voluptatibus odit libero ea! 
                Saepe libero omnis consectetur! 
                Aliquid distinctio quis ipsam 
                nesciunt iure harum!</p>
        </ul>
    </div>
</div>