<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo-20-20.png" id="LogoAp">
        </div>
        <div class="social">
            <div class="redes">
                <a href="https://www.instagram.com/victoria.galarzaav/"><img src="../../../assets/Instagram.png" id="instagram"></a>
                <a href="https://www.linkedin.com/in/victoria-galarza-74607b223/"><img src="../../../assets/Linkedin.png"  id="linkedin"></a>
                <a href="https://github.com/vikidev01"><img src="../../../assets/GitHub.png"    id="github"></a>     
            </div>
                <div class="login">
            
                <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESAR</button>
                <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button>
            </div>
        </div>
    </div>
</div>
